.site-head {
  height: 150px;
}
.site-head .topbar {
  height: 32px;
  background-color: #2a2a2a;
  color: white;
  line-height: 32px;
}
.site-head .topbar a {
  color: white;
}
.site-head .topbar .shortcur-links {
  float: left;
}
.site-head .topbar .topbar-r {
  float: right;
  width: 225px;
}
.site-head .topbar .topbar-r a,
.site-head .topbar .topbar-r span {
  margin-right: 12px;
  font-size: 14px;
}
.site-head .topbar .topbar-r .weibo-icon {
  font-size: 16px;
}
.site-head .topbar .topbar-r a:last-child {
  margin-right: 0px;
}
.site-head .topbar .shortcur-links > ul {
}
.site-head .topbar .shortcur-links > ul > li {
  float: left;
  margin-right: 18px;
  font-size: 14px;
}

.site-head .topbar .shortcur-links > ul > li.have-menu {
  padding-right: 12px;
  position: relative;
}
.site-head .topbar .shortcur-links > ul > li.have-menu .arrow {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -6px;
  width: 12px;
  height: 12px;
  transition: transform 0.2s ease 0s;
}

.site-head .topbar .shortcur-links > ul > li.have-menu:hover .arrow {
  transform: rotate(180deg);
}
.site-head .topbar .shortcur-links > ul > li.have-menu .arrow b {
  position: absolute;
  left: 3px;
  top: 2px;
  width: 6px;
  height: 6px;
  background-color: #fff;
  transform: rotate(45deg);
}
.site-head .topbar .shortcur-links > ul > li.have-menu .arrow i {
  position: absolute;
  left: 3px;
  top: 0.5px;
  width: 6px;
  height: 6px;
  background-color: #2a2a2a;
  transform: rotate(45deg);
}

.site-head .topbar .shortcur-links > ul > li.have-menu .menu {
  position: absolute;
  top: 30px;
  left: 0;
  background-color: #fff;
  z-index: 9999;
  display: none; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding:10px;
}
.site-head .topbar .shortcur-links > ul > li.have-menu .menu .menu-list li{
  height:20px;
  line-height:20px;
}

.site-head .topbar .shortcur-links > ul > li.have-menu .menu .menu-list a {
  font-size: 12px;
  color: #1c1f21;
  line-height:20px;
}
.site-head .topbar .shortcur-links > ul > li.have-menu .menu .menu-list a:hover{
  color:orange;
}

.site-head .topbar .shortcur-links > ul > li.have-menu .sqmenu {
  width: 110px;
}
.site-head .topbar .shortcur-links > ul > li.have-menu .scmenu {
  width: 80px;
}
.site-head .topbar .shortcur-links > ul > li.have-menu .jdmsmenu {
  width: 80px;
}

.site-head .topbar .shortcur-links > ul > li.have-menu:hover .menu {
  display: block;
}

.site-head .main-nav {
  height: 40px;
  background-color: #20bd9a;
}
.site-head .main-nav ul li {
  float: left;
  margin-right: 18px;
}
.site-head .main-nav ul li.have-menu {
  padding-right: 16px;
  position: relative;
}
.site-head .main-nav ul li a {
  line-height: 40px;
  color: #fff;
  font-size: 16px;
}
.site-head .main-nav ul li.have-menu::before {
  content: "";
  position: absolute;
  right: 0;
  top: 18px;
  width: 0px;
  height: 0px;
  border: 5px solid transparent;
  border-top-color: #fff;
  border-bottom: none;
  transition: transform 0.1s ease 0s;
}
.site-head .main-nav ul li .menu{
  position: absolute;
  top: 35px;
  left:0;
  background-color:#fff;
  box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
  padding:10px;
  display:none;
}

.site-head .main-nav ul li:hover .menu{
  display:block;
}

.site-head .main-nav ul li .menu dl dd a:hover{
  color:orange;
}

.site-head .main-nav ul li .jjzyxmenu{
  width:150px;
}

.site-head .main-nav ul li .gtymenu{
  width:90px;
}

.site-head .main-nav ul li .ddwlmenu{
  width:190px;
}

.site-head .main-nav ul li .menu dl dt{
  font-size:16px;
}
.site-head .main-nav ul li .menu dl dd a{
  color:#1c1f21;
  font-size:12px;
  line-height:20px;
}
.site-head .main-nav ul li.have-menu:hover::before {
  transform: rotate(180deg);
}
.site-head .header-con {
  height: 36px;
  padding: 21px 0;
}
.site-head .header-con h1 {
  float: left;
  font-size: 24px;
  color: #20bd9a;
  font-weight: bold;
  line-height: 36px;
}
.site-head .header-con .soso-box {
  float: left;
  margin-left: 20px;
  width: 405px;
  padding-top: 6px;
}
.site-head .header-con .soso-box input {
  width: 361px;
  height: 28px;
  border: 1px solid #20bd9a;
  border-radius: 4px 0 0 4px;
  font-size: 12px;
  outline: none;
  padding-left: 10px;
  float: left;
}
.site-head .header-con .soso-box .btn {
  float: left;
  width: 32px;
  height: 30px;
  background-color: #20bd9a;
  color: #fff;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  border-radius: 0 4px 4px 0;
}
